@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --white: hsl(255, 100%, 100%);
    --soft-violet: hsl(277, 64%, 61%);
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --slightly-transparent-white-1:hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white-2: hsla(0, 0%, 100%, 0.6);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--very-dark-blue);
}

.container {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "a b";
}

.container-items {
    grid-area: a;
    width: 480px;
    height: 396px;
    display: flex;
    justify-self: end;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--dark-desaturated-blue);
}

.items-1 {
    padding: 0px 60px;
}

.items-1 p:first-child {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    color: var(--white);
    font-family: 'Inter', sans-serif;
}

.items-1 p:first-child strong {
    color: var(--soft-violet);
}

.items-1 p:last-child {
    font-size: 14px;
    padding-top: 20px;
    font-weight: 400;
    line-height: 25px;
    font-family: 'Inter', sans-serif;
    color: var(--slightly-transparent-white-1);
}

.items-2 {
    display: flex;
    padding: 25px 60px 0px;
    justify-content: space-between;
}

.items-2 p {
    width: 80px;
    font-size: 15px;
    line-height: 22px;
    font-family: 'Lexend Deca', sans-serif;
    color: var(--slightly-transparent-white-2);
}

.items-2-strong {
    font-size: 20px;
    font-weight: 700;
    color: var(--white);
    font-family: 'Inter', sans-serif;
}

.container-image {
    grid-area: b;
    width: 480px;
    height: 396px;
}

.container-image img{
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
@media (max-width: 675px) {
    .container {
        display: flex;
        padding: 30px;
        flex-direction: column-reverse;
    }
    .container-items {
        width: 340px;
        height: 525px;
        min-height: 525px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .container-image {
        width: 340px;
        height: 281px;
        padding-top: 18px;
    }

    .container-image img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0px;
    }

    .items-1 {
        padding: 0px 45px;
    }

    .items-1 p:first-child {
        font-size: 27px;
        text-align: center;
    }
    
    .items-1 p:last-child {
        padding-top: 0;
        text-align: center;
    }

    .items-2 {
        padding: 0px 45px;
        align-items: center;
        flex-direction: column;
    }

    .items-2 p {
        text-align: center;
    }

    .items-2-strong {
        font-size: 20px;
    }
}